*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}
body{
    max-height: 90vh;
    background-color: #0a0a0f;
}


header{
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(red-abstract-smoke-curves-wave-black-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: initial;
}


.logo{
    color: #661fcf;
    font-weight: bolder;
    margin-left: 20px;
    font-family: 'Helvetica';
}

nav{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    font-weight: bolder;
}

nav ul{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

nav ul li{
    display: flex;
    justify-content: space-between;
}

nav ul li a {
    color: #f0eef6;
    margin-right: 15px;
    text-decoration: none;
    font-family: 'Helvetica';
    transition: 0.7s ease;
}

nav ul li a:hover{
    color: #661fcf;
}


.register{
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

form{
    display: flex;
    flex-direction: column;
    background-color: #7b5ea7;
    width: 50%;
    border-radius: 20px;
    padding: 15px;
    border-color: rgb(77, 76, 75);
    border-style: hidden;
    box-sizing: border-box;
    margin: 20px;
}

form input{
    width: 50%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    color: black;
    background-color: #c9a84c;
    border-style: hidden;
}

form textarea{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}


.mySubmit{
    width: 35%;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    border-style: hidden;
    background-color: #661fcf;
    color: #f0eef6;
    font-family: 'Helvetica';
    font-weight: bolder;
    transition: 1s ease;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.mySubmit:hover{
background-color: #7b5ea7;
}


footer nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #f0eef6;
}

footer nav h3{
    padding: 5px;
}

.foot{
   display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: space-evenly;
    background-color: #c9a84c;
    padding: 10px;
}

.darkenbtn{
    background-color: darkred;
}

.darkenbtn:active{
    background-color: green;
}

.myh3{
    color: aliceblue;
    text-align: center;
    margin-top: 15px;
}